DIV.editor
{
    background: #141414;
    padding: 12px;
}

DIV.form
{
    width: 400px;
    margin: 0 auto;
    padding: 8px;
    background-color: #566c86;
}

DIV.form TABLE
{
    width: 100%;
    border-color: #566c86;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}

DIV.form TABLE TD
{
    background-color: #566c86;
    border-color: #566c86;
    border-width: 1px;
    border-style: solid;
    padding: 4px;

    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 11pt;
    color: #1a1c2c;
}

DIV.form TABLE TD.label
{
    width: 1%;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

DIV.form TABLE TD.input input[type="text"]
{
	width: 100%;
	padding: 8px;
	background-color: #1a1c2c;
	color: #f4f4f4;
	border: 0px none;
	border-radius: 6px;
	font-size: 12pt;
}


DIV.form TABLE TD.input input[type="button"]
{
	width: 100%;
	padding: 8px;
	background-color: #29366f;
	font-size: 10pt;
	font-weight: bold;
	color: #f4f4f4;
	border: 0px none;
	border-radius: 6px;
	cursor: pointer;
}

*:focus
{
    outline: none;
}